input, .btn-filter {
  height: 50px;
  background-color: white;
  color: #4F4F4F;
  font-size: 12px;
  border: solid 1px;
  border-color: #0D3896;
}

.btn-bid {
  font-family: Montserrat;
  width: 100%;
  background-color: #0D3896;
  height: 50px;
  font-weight: bold;
  font-size: 12px;
  color: #FFFFFF;
}
